@page "/your-accounts"
@inject CustomerServices services
@inject HttpClient _client
@attribute [Authorize(Roles = "User")]
<div>
    <p>Välkommen @services.CustomerInfo.CustomerInfo.Givenname @services.CustomerInfo.CustomerInfo.Surname</p>
</div>
<div>
    <p>Dina konton</p>
    <ul>
        @foreach (var acc in services.CustomerInfo.Accounts)
        {
            <li>
                <div class="card">
                    <div class="card-header">
                        <h6>KontoNr: @acc.AccountId </h6>
                        <p>@accountTypes.First(x => x.AccountTypeId == acc.AccountTypesId).TypeName</p>
                    </div>
                    <div class="card-body">
                        <ol>
                            <li>
                                <p>Balans: @acc.Balance</p>
                            </li>
                            <li>
                                <p>Skapat: @acc.Created</p>
                            </li>
                        </ol>
                    </div>
                    <div class="card-footer">
                        <NavLink href="transactions" class="btn btn-primary"
                                 @onclick="() => SetAccount(acc.AccountId)">Se kontots transaktioner</NavLink>

                        <NavLink href="makeinternaltransaction" class="btn btn-secondary"
                                 @onclick="() => SetAccount(acc.AccountId)">Se kontots transaktioner</NavLink>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
<div>
    <p>Dina kort</p>
    <ol class="card-deck">
        @foreach (var card in services.CustomerInfo.Cards)
        {
            <li class="card">
                <ol class="card-body">
                    <li>@card.Ccnumber</li>
                    <li>@card.Cctype</li>
                    <li>@card.Issued</li>
                    <li>@card.ExpM/@card.ExpY @card.Cvv2</li>
                </ol>
            </li>
        }
    </ol>
</div>

@code {

    private List<AccountType> accountTypes = new();

    protected override async Task OnInitializedAsync()
    {
        accountTypes = await _client.GetFromJsonAsync<List<AccountType>>("api/admin/accounttypes");
        services.GetDetails();
    }

    private void SetAccount(int id)
    {
        services.SelectedAccount(id);
    }
}