@page "/transactions/{Id:int}"
@inject CustomerServices services
@attribute [Authorize(Roles = "User")]

<div>
    <ol>
        @foreach (var t in services.Transactions)
        {
            <li>
                <p>Datum: @t.Date</p>
                <p>Bank: @t.Bank</p>
                <p>Konto: @t.Account</p>
                <p>- @t.Amount kr</p>
                <p>- @t.Balance kr</p>
            </li>
        }
    </ol>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    protected override void OnInitialized()
    {
        services.GetTransactions(Id);
    }

}