@model BankApp.Enteties.Models.RequestFeatures.PagedList<BankApp.Enteties.DataTransferObjects.TransactionDTO>

<div>
    <p>Page: @Model.MetaData.CurrentPage / @Model.MetaData.TotalPages</p>
    <ul class="list-group">
        @foreach (var tran in Model)
        {
            <li class="list-group-item">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        @tran.Date
                    </li>
                    <li class="list-group-item">
                        @tran.Operation
                    </li>
                    <li class="list-group-item">
                        @tran.Amount
                    </li>
                </ul>
            </li>
        }
    </ul>
    <div class="d-inline-flex justify-content-between">
        <a id="arrow-left"
           href="@Url.Action(
                 "GetTransactions", "Home",
                 new TransactionParameters {AccountId = Model[0].AccountId,
                     PageNumber = Model.MetaData.CurrentPage - 1,
                     PageSize = Model.MetaData.PageSize })">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.1472.146a.5.50  1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg>
        </a>

        <a id="arrow-right"
           href="@Url.Action(
                 "GetTransactions", "Home",
                 new TransactionParameters {AccountId = Model[0].AccountId,
                     PageNumber = Model.MetaData.CurrentPage + 1,
                     PageSize = Model.MetaData.PageSize })">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0001h5.793l-2.1472.146a.5.5  0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
            </svg>
        </a>
    </div>
</div>

<script language="javascript" type="text/javascript">

    function TransactionScript() {

        var hasPrev = @Model.MetaData.HasPrevious;
        var hasNext = @Model.MetaData.HasNext;
        var prevBtn = Document.GetElementById("arrow-left");
        var nextBtn = Document.GetElementById("arrow-right");

            if (!hasPrev) {
                prevBtn.className = "text-muted";
            } else {
                prevBtn.className = "";
            }
            if (!hasNext) {
                nextBtn.className = "text-muted";
            }
            else {
                nextBtn.className = "";
            }
    }
</script>