@page
@model BankApp.Frontend.Models.CustomerViewModel

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    @*Name of customer*@
                    <p>
                        Välkommen:
                        @{
                            string fullName = Model.CustomerInfo.CustomerInfo.Surname + " " + Model.CustomerInfo.CustomerInfo.Givenname;
                        }
                    </p>
                </div>

                <div class="card-body">
                    @* list of accounts *@
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-group-horizontal">
                                @foreach (var acc in Model.CustomerInfo.Accounts)
                                {
                                    <li class="list-group-item">
                                        <div>
                                            @*Link to show transactions for account*@
                                            <p>@acc.AccountId</p>
                                            <div class="d-inline-flex justify-content-between">
                                                <p>@acc.Balance</p>
                                                <p>@Model.AccountTypes.FirstOrDefault(x => x.AccountTypesId == acc.AccountTypesId).TypeName</p>
                                            </div>
                                        </div>
                                        <a class="btn btn-secondary" asp-route-accountId="@acc.AccountId" asp-action="GetTransactions" asp-controller="Home">
                                            Visa transaktioner
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        @*List of resent transactions for account*@
                        <div class="col">
                            @(await Component.InvokeAsync("TransactionsView"))
                        </div>
                        <div class="col">
                            @(await Component.InvokeAsync("MakeTransaktion"))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>