@using BankApp.Enteties.Models.RequestFeatures;
@{

    var customer = ViewData["Customer"] as BankApp.Enteties.DataTransferObjects.CustomerDTO;
    var accounts = ViewData["Accounts"] as List<BankApp.Enteties.DataTransferObjects.AccountDTO>;
    var loans = ViewData["Loans"] as List<BankApp.Enteties.DataTransferObjects.LoanDTO>;
    var cards = ViewData["Cards"] as List<BankApp.Enteties.DataTransferObjects.CardDTO>;
    var accountTypes = ViewData["AccountTypes"] as List<BankApp.Enteties.DataTransferObjects.AccountTypeDTO>;

    string name = $"{customer.Surname} {customer.Givenname}";

}
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.unobtrusive-ajax/3.2.5/jquery.unobtrusive-ajax.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    @*Name of customer*@
                    <p>
                        Välkommen: @name
                    </p>
                </div>

                <div class="card-body">
                    @*list of accounts*@
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-group-horizontal">
                                @foreach (var acc in accounts)
                                {
                                    <li class="list-group-item">
                                        <div>
                                            @*Link to show transactions for account*@
                                            <p>@acc.AccountId</p>
                                            <div class="d-flex justify-content-between">
                                                <p>Saldo: @acc.Balance</p>
                                                <p>Kontotyp: @accountTypes.FirstOrDefault(x => x.AccountTypeId == acc.AccountTypesId).TypeName</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <a class="btn btn-secondary"
                                               asp-action="InitiateTransactions"
                                               asp-controller="Home"
                                               asp-route-accountId="@acc.AccountId"
                                               data-ajax="true"
                                               data-ajax-metod="get"
                                               data-ajax-mode="replace"
                                               data-ajax-update="#transactions">
                                                Visa transaktioner
                                            </a>
                                            <a class="btn btn-secondary"
                                               asp-action="MakeTransaction"
                                               asp-controller="Home"
                                               asp-route-accountId="@acc.AccountId">
                                                Gör en transaktion från @acc.AccountId
                                            </a>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div id="transactions">
                                @*List of resent transactions for account*@
                            </div>

                            <div class="d-flex justify-content-between">

                                <a id="show-prev" class="btn btn-secondary"
                                   asp-action="PrevTransactions"
                                   asp-controller="Home"
                                   data-ajax="true"
                                   data-ajax-update="#transactions"
                                   data-ajax-mode="replace"
                                   data-ajax-loading="#baka">
                                    <div class="row">
                                        <div class="col">
                                            <section>
                                                <div class="spinner-border m-1" role="status" style="display:none" id="baka">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="col">
                                            <p>Backa</p>
                                        </div>
                                    </div>
                                </a>
                                <a id="show-next" class="btn btn-secondary"
                                   asp-action="NextTransactions"
                                   asp-controller="Home"
                                   data-ajax="true"
                                   data-ajax-update="#transactions"
                                   data-ajax-mode="replace"
                                   data-ajax-loading="#ErenJeger">
                                    <div class="row">
                                        <div class="col">
                                            <p>Nästa</p>
                                        </div>
                                        <div class="col">
                                            <section>
                                                <div class="spinner-border m-1" role="status" style="display:none" id="ErenJeger">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>